@model Order

<form asp-action="Checkout" method="post" class="form-horizontal" role="form">
    <h4>You're one step away from ordering awesome item</h4>
    <div class="form-group">
        <label asp-for="FirstName" class="col-md-2 control-label"></label>
    </div>
    <div class="col-md-5">
        <input asp-for="FirstName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="LastName" class="col-md-2 control-label"></label>
    </div>
    <div class="col-md-5">
        <input asp-for="LastName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Aadress" class="col-md-2 control-label"></label>
    </div>
    <div class="col-md-5">
        <input asp-for="Aadress" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="City" class="col-md-2 control-label"></label>
    </div>
    <div class="col-md-5">
        <input asp-for="City" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="State" class="col-md-2 control-label"></label>
    </div>
    <div class="col-md-5">
        <input asp-for="State" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="ZipCode" class="col-md-2 control-label"></label>
    </div>
    <div class="col-md-5">
        <input asp-for="ZipCode" class="form-control" />
    </div>
</form>
