@model ItemListViewModel

    <body>
    <h1>@Model.CurrentCategory</h1>
    @foreach (var item in Model.Items)
    {
        <div>
            <h2>@item.Name</h2>
            <h3>@item.Price.ToString("c")</h3>
            <h4>@item.Category.CategoryName</h4>

        </div>
    }

    </body>