@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Peterburi Tee 13 <br />
    Telefon: +37264538926 <br />
    Kauba kättesaamine Tallinna Kauplusest <br />
    Peterburi Tee 13, Tallinn <br />
</address>
<p>
    Lahtiolekuajad: <br />
    Tööpäeviti: 09:00 - 18:00 <br />
    Laupäeval: 11:00 - 17:00 <br  />
    Pühapäeval: 11:00 - 15:00 <br />
</p>