@model HomeViewModel

<partial name="_Carousel" />

<h1>Items On Sale</h1>

<div class="row">

    @foreach (var item in Model.ItemOnSale) 
    {
        <partial name="_itemCard" model="item" />
    }

</div>
